.item-container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item-card {
    width: 250px;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.item-card:hover {
    cursor: pointer;
    transform: scale(1.1);
}
