<div class="item-container">
    <p-card
        subheader="Categoria: {{item.category.description}}"
        class="item-card" styleClass="ui-card-shadow"
        (click)="emitEditItem()"
    >
        <p-header>
            <img src="Card" src="assets/img.png">
        </p-header>
        <div>
            <strong>Descrição: </strong> {{item.description}}
        </div>
        <p-footer>
            <div>
                <strong>Usuario:</strong> {{item.user.name}}
            </div>
            <div>
                <strong>Email:</strong> {{item.user.email}}
            </div>
        </p-footer>
    </p-card>
</div>

