.item-container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item-card {
    width: 250px;
    padding: 10px
}

.selected {
    background: #2b3135;
}

.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
